.PostSide
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 95.5vh;
    overflow: auto;
}

.mobile-only {
    display: none;
  }
  
  /* Show only in Mobile */
  @media screen and (max-width: 768px) {
    .mobile-only {
      display: block;
    }
  }