@media screen and (max-width: 768px) {
    .navIcons{
        margin: 0px;
        height: 25px;
    }
  }

  .settings-icon {
    color: black; /* Keep original color */
    text-decoration: none; /* Remove underline */
    display: inline-flex; /* Ensure it aligns properly */
  }